.tituloVerde {
  margin-top: 12px;
  color: #1A9D55;
}

.tituloNaranja {
  padding: 15px;
  margin-top: 12px;
  color: #DB912E;
}

.cuadro {
  background-color: #D8D8D8;
  padding: 15px;
  border: 2px solid #8E8F8D;
  margin-bottom: 40px;
}

.titleGreen {
  color: #5BCC0C;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #A4EA5D;
}
img {
  margin: 10px;
}

li a {
  padding: 10px;
  text-decoration: none;
  display: block;
  background-color: #A4EA5D;
}

li a:hover {
  text-decoration: none;
  background-color: #F3E509;
  color: black;
}

.textoCuadro {
  padding: 15px;
}
